p{
    font-family: Cabin
}
h5,h6{
    font-family: ABeezee;
}
h3{
    font-family: Baloo;
}
.fas{
    color: rgb(235, 0, 164);
}
h3{
    
    color: rgb(235, 0, 164);
}
.temp{
    color: rgb(180, 12, 12);
}